.App {
    display: flex;
    background-image: url("./images/candy-crush-background.png");
    width: 100vw;
    height: 100vh;
}

.wrapper-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    flex-wrap: wrap;
}

.board {
    display: flex;
    height: 560px;
    width: 560px;
    flex-wrap: wrap;
}

.candy {
    height: 60px;
    width: 60px;
    padding: 5px;
    background-color: lightblue;
}

.wrapper-score {
    display: flex;
    justify-content: center;
    flex: 1;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin: 50px 50px 50px 0;
    border-radius:20px;
    align-items: center;
    background-color: rgb(240, 216, 109);
}
.score h1{
    font-size:50px;
    color:rgb(236, 13, 188);
}

.score img{
    width: 100%;
}
